on: [push]
name: Build and Publish to Cloudflare Pages

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write

    steps:
      - uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Download dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: build/web

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ${{ github.workspace }}/dist

      - name: Set ref_name
        id: ref_name
        run: echo "ref_name=$(echo ${{ github.ref_name }} | sed 's/[^a-z0-9-]/-/g')" >> $GITHUB_OUTPUT

      - name: Publish to Cloudflare Pages (Production)
        if: github.ref_name == 'main'
        run: npx wrangler pages deploy dist --project-name $CF_PAGES_PROJECT_NAME
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ vars.CF_ACCOUNT_ID }}
          CF_PAGES_PROJECT_NAME: ${{ vars.CF_PAGES_PROJECT_NAME }}
          ref_name: ${{ steps.ref_name.outputs.ref_name }}

      - name: Publish to Cloudflare Pages (Preview)
        if: github.ref_name != 'main'
        run: npx wrangler pages deploy dist --project-name $CF_PAGES_PROJECT_NAME --branch $REF_NAME
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ vars.CF_ACCOUNT_ID }}
          CF_PAGES_PROJECT_NAME: ${{ vars.CF_PAGES_PROJECT_NAME }}
          REF_NAME: ${{ steps.ref_name.outputs.ref_name }}
